* {
	padding: 0;
	margin: 0;
}

select:invalid {
	color: grey;
}

option {
	color:black;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
	height: 40px;
}

#home {
	float: left;
	padding-left: 10px;
}

.nav-element {
	float: right;
	padding: 0 5px;

}

.nav-element:hover {
	background-color: #262626;
}

nav a {
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
}

form {
	position: absolute;
	width: 80%;
	max-width: 1024px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: table;
}

form div {
	height: 40px;
	display: table-cell;
}

input, select {
	height: 100%;
	width: 100%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	float: right;
}