/*Body Background Image*/
body{
	background: url(../images/search-background.jpg) no-repeat center center fixed;
	background-size: cover;
}

/*Search Background*/
#green-border{
	background-color: #0D2818;
	opacity: 0.85;
	width: 70%;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	padding: 1em;
	transform: translate(-50%, -50%);
	position: absolute;
}

#green-border > p{
	position: relative;
	text-align: left;
	vertical-align: top;
	color: white;
}

/*Search Area*/
#wrapper {
	position: absolute;
	width: 65%;
	height: 40px;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

form {
	width: 100%;
	display: table;
}

form div {
	height: 40px;
	display: table-cell;
}

input, select {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width:0.5px;
	border-color:grey;
}

option {
	color:black;
}

input[type = submit]{
	background: #895494;
	color: white;
}
input[type = submit]:hover{
	background:#42113c;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	transition: all .7s ease;
}

#suburb {
	color: grey;
}

#nameSearch {
	padding-left: 5px;
}

#autofind {
	clear:both;
	text-align: center;
	color: white;
}

#findme{
	color:white;
}