#wrapper{
	height:auto;
	padding:90px 10px 0 10px;
}
/*Header*/
#header {
	box-sizing: border-box;
	top: 40px;
	position: absolute;
	height: 50px;
	width: 80%;
	padding-right: 20px;
}

#header-text {
	float:left;
	height: 37px;
	line-height: 37px;
}

#search-again {
	float: right;
	height: 37px;
	line-height: 37px;
}

#results{
	width:50%;
	height: 100%;
	background:#ccc;
	float: left;
	overflow: auto;
}

#results > li {
	display:block;
	height: 350px;
}

#user-information{
	float: left;
	padding-right:3em;
}
#user-review{
	padding: 1em;
	
}
#park-image{
	float:left;
	width:55%;
	height: 250px;
	background-size: cover;
	background:url(../images/search-background.jpg) no-repeat;
}
#map-image{
	float: right;
	background: url(../images/map.png) no-repeat center center;
	background-size: cover;
	width: 40%;
	height: 250px;
	
}