/*Header*/
#header {
	box-sizing: border-box;
	top: 40px;
	position: absolute;
	height: 50px;
	width: 80%;
	padding-right: 20px;
}

#header-text {
	float:left;
	height: 37px;
	line-height: 37px;
}

#search-again {
	float: right;
	height: 37px;
	line-height: 37px;
}

#left-side {
	float: left;
	width: 50%;
	height: 100%;
}

#review{
	width:50%;
	height: 100%;
	float: right;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
}
#leave-review{
	width: 100%;
	padding-top:15px;
	padding-bottom:15px;
}
#leave-review input, select, textarea{
	margin: 3px;
	font-size: inherit;
}
#comment{
	width:100%;
	height: 50px;
	vertical-align: top;
	font: inherit;
	
}
#review > li{
	width: 100%;
	display: table-row;
}

#user-information{
	display:table-cell;
}
#user-review{
	padding: 1em;
	display: table-cell;
	
}
#map{
	float: left;
	width: 100%;
	height: 300px;
	
}
#park-content{
	float:left;
	position: relative;
}