/*---------------------Frame Styling---------------------*/
#left-side {
	float: left;
	width: 50%;
	height: 100%;
}
#right-side{
	width: 50%;
	height: 100%;
	float: right;
	background-color: white;
	padding-left: 10px;
	box-sizing: border-box;
	overflow-y: auto;
}
/*---------------------Maps (Left Side)---------------------*/
#map{
	float: left;
	width: 100%;
	height: 300px;
	
}
#park-content{
	float:left;
	position: relative;
}
/*---------------------Reviews (Right Side)---------------------*/
#leave-review{
	width: 100%;
	padding-bottom:15px;
	margin-bottom:5px;
}
#leave-review input, select, textarea{
	margin-bottom: 10px;
	font-size: inherit;
}
#comment{
	width:100%;
	height: 50px;
	vertical-align: top;
	font: inherit;
	
}
#review > li{
	width: 100%;
	display: table-row;
}

#user-information{
	display:table-cell;
	width:40%;
}
#user-review{
	width:60%;
	padding: 1em;
	display: table-cell;
	
}