/*Header*/
#header {
	box-sizing: border-box;
	top: 40px;
	position: absolute;
	height: 50px;
	width: 80%;
	padding-right: 20px;
}

#header-text {
	float:left;
	height: 37px;
	line-height: 37px;
}

#search-again {
	float: right;
	height: 37px;
	line-height: 37px;
}

/*Result List*/
#results{
	width:50%;
	height: 100%;
	float: left;
	overflow: auto;
	display:block;
}

.details {
	padding-left: 10px;
	padding-top: 15px;
}

.park-name {
	font-size: 1.3em;
}

.location {
	font-size: 0.8em;
}


/*Map*/
#map {
	width: 50%;
	height: 100%;
	float: right;
	background-color: black;
}