/*Header*/
#header {
	top: 40px;
	position: absolute;
	height: 50px;
	width: 80%;
}

#header-text {
	float:left;
	height: 37px;
	line-height: 37px;
}

#search-again {
	float: right;
	height: 37px;
	line-height: 37px;
}

/*Result List*/
#results{
	width:50%;
	height: 100%;
	background:#ccc;
	float: left;
	overflow: auto;
}

#results > li {
	display:block;
	height: 350px;
}

.park-image {
	background: url(../images/search-background.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 250px;
}

.details {
	padding-left: 10px;
	padding-top: 5px;
}

.park-name {
	font-size: 1.3em;
}

.location {
	font-size: 0.8em;
}

.rating {
	margin-top: 25px;
}

/*Map*/
#map {
	width: 50%;
	height: 100%;
	float: right;
	background-color: black;
}