/*Header*/
#header {
	box-sizing: border-box;
	top: 40px;
	position: absolute;
	height: 50px;
	width: 80%;
	padding-right: 20px;
}

#header-text {
	float:left;
	height: 37px;
	line-height: 37px;
}

#search-again {
	float: right;
	height: 37px;
	line-height: 37px;
}

/*Result List*/
#results{
	width:50%;
	height: 95%;
	float: left;
	overflow: auto;
	display:block;
}
#results > li{
	color: black;
}

.details {
	padding: 15px 0px 5px 10px;
}

.park-name{
	font-size: 1.3em;
	color: #0D2818;
}
.park-name a{
	text-decoration: none;
}

.park-name:hover{
	color: #7ea172;
}

.location {
	font-size: 0.8em;
}


/*Map*/
#map {
	width: 50%;
	height: 95%;
	float: right;
	background-color: black;
}