#wrapper{
	padding:40px 10px 0 10px;
}
#registration-form{
	width: 400px;
	padding: 10px;
	margin:auto;
}

#registration-form input, select{
	padding: 30px 0 0 0;
	border-style: none;
	width:100%;
}

#DOB {
	color: grey;
}

#suburb {
	color: grey;
}

input[type = submit]{
	background: #895494;
	color: white;
	padding:5px 20px;
	margin: auto;
}
input[type = submit]:hover{
	background:#42113c;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	transition: all .7s ease;
}