#wrapper{
	padding:40px 10px 0 10px;
}
#header-text{
	text-align: center;
}
#registration-form{
	width: 400px;
	padding: 10px;
	margin:auto;
	background-color: #f3f3f3;
}

#registration-form >input, #registration-form > select{
	border-style: none;
	width:100%;
	background-color: #e6e5e5;
	padding: 3px;
	margin: 3px;
}

/*#DOB {
	color: grey;
}*/

#suburb {
	color: grey;
}

button{
	background: #895494;
	color: white;
	padding:5px 20px;
	margin: auto;
	width: 100%;
}
button:hover{
	background:#42113c;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	transition: all .7s ease;
}