/*Style sheet for Brisbane Parks website by Patrick and Anna
 *Background Image: Botanic gardens. Taken for this assignment(no copyright here my dudes)
 *Colours:
 *Main dark green: #0D2818
 *Lighter green:#04471C
 *Purple:#895494
 * */

/*Soft style reset*/
* {
	padding: 0;
	margin: 0;
}

body{
	height: 100vh;
	min-width: 1024px;
	font-family: 'Open Sans', sans-serif;
}

/*Nav Styling*/
nav {
	min-width: 1024px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #0D2818;
	height: 40px;
}

#home {
	float: left;
	padding-left: 10px;
	font-family:'Kaushan Script', cursive;
	letter-spacing: .1em;
}

.nav-element {
	float: right;
	padding: 0 1.5em;

}

.nav-element:hover {
	background-color: #262626;
}

nav a {
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
}

/*Footer Styling*/
footer {
	min-width: 1024px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	float: right;
}

/*Global Styling*/
#wrapper {
	box-sizing: border-box; 
	width: 80%;
	height: 100vh;
	margin: 0 10%;
	padding-top: 90px;
}

#crumb > p {
	font-size: 0.7em;
}