/*Style sheet for Brisbane Parks website by Patrick and Anna
 *Background Image: Botanic gardens. Taken for this assignment(no copyright here my dudes)
 *Colours:
 *Main dark green: #0d2818
 *Lighter green:#04471c
 *Purple:#895494
 * */

/*Soft style reset*/
* {
	padding: 0;
	margin: 0;
}

body{
	height: 100vh;
	min-width: 1024px;
	font-family: 'Open Sans', sans-serif;
	/*font size: INSERT SIZE;*/
	background:url(../images/tree_bark.png);
}

/*Nav Styling*/
nav {
	min-width: 1024px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #0D2818; /*a darkish green #0D2818*/
	height: 40px;
}

#home {
	float: left;
	padding-left: 10px;
	font-family:'Kaushan Script';
	font-size: 24px;
	letter-spacing: .1em;
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	transition: transform 1s ease;
}

#home:visited{
	color:white;
	font-family:'Kaushan Script';
}

/* slight decrease in size for home button*/
#home:hover{
	-webkit-transform: scale(.95);
	-moz-transform: scale(.95);
	transform: scale(.95);
}

.nav-element {
	float: right;
	padding: 0 1.5em;

}

.nav-element:hover {
	background-color: #7ea172;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

nav a {
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
}

/*Footer Styling*/
footer {
	min-width: 1024px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	float: right;
}

/*Global Styling*/
#wrapper {
	box-sizing: border-box; 
	width: 80%;
	height: 100vh;
	margin: 0 10%;
	padding:90px 10px 0 10px;
	background-color:white;
}

#crumb > p {
	font-size: 0.7em;
}